html {
  font-size: 16px;
  background: #fff5fc;
  font-family: "Work Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

.container {
  padding: 0rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 5rem;
}
.proj {
  margin-bottom: 2rem;
}

button.project-link {
  height: auto;
  /* line-height: 0.8rem; */
  width: auto;
  padding: 0rem 0.5rem;
  margin: 1.6rem 0 0 2rem;
  background-color: #e25b5b;
}

a.project-link {
  color: white;
  font-size: 0.6em;
  padding: 0rem 0.5rem;
  margin: 0.6rem 0 0 0.5rem;
  background-color: #e25b5b;
  border-radius: 0.9375rem;
  overflow: hidden;
  white-space: nowrap;
}

.proj-name {
  margin-bottom: 0rem;
}

.hidden {
  visibility: hidden;
  height: 0px;
  margin-top: 0rem !important;
}

img {
  max-width: 100%;
  max-height: 100%;
  /* object-fit: cover; */
}

.thumb-img {
  width: 80%;
}

.thumb-img.other {
  width: 40%;
}

.img-caption {
  margin-top: 2rem;
}

.antico-gif {
  text-align: center;
  /* margin: auto; */
  object-fit: cover;
  margin-top: -50px;
  margin-left: 50px;
  /* margin-bottom: 50px; */
  rotate: -90deg;
  width: auto;
  max-height: 100%;
}

.gif.scale.rotate {
  transform: rotate(-90deg);
  width: 65%;
  margin: -5em auto;
}

.gif-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  /* grid-column: 1 / var(--edge); */
  --ratio: 0.58;
  /* --h: calc(var(--contentw)* var(--ratio)); */
  height: 100%;
  overflow: scroll;
}

.sidebar {
  width: 25%;
  position: sticky;
  top: 4rem;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.name {
  display: flex;
  align-items: center;
}
.content {
  width: 63%;
  margin-top: 4rem;
  /* margin-right: 3%; */
}

.col {
  gap: 2rem;
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  /* width: 50%; */
  /* box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.11); */
}

.shadow {
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.11);
}
.cols-2 {
  gap: 2rem;
  width: 100%;
  display: flex;
  margin-top: 2.6rem;
}

h1 {
  color: #da1818;
  text-align: left;
  font-family: "Averia Serif Libre", Georgia, "Times New Roman", Times, serif;
  font-size: 4.15rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-width: 15.5rem;
  margin: 0px;
}

h1.page {
  line-height: 3.5rem;
  color: #202124;
  font-size: 3.5rem;
  font-family: "Work Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0 0 0.8em 0;
}

h2 {
  font-family: "Averia Serif Libre", Georgia, "Times New Roman", Times, serif;
  font-size: 2.5rem;
}

h3 {
  color: #da1818;
  font-family: "Work Sans";
  font-size: 1.55rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 400;
  margin: 0;
  padding: 0.6em 0;
}

p {
  font-size: 1rem;
  line-height: 1.9rem;
  margin: 1em 0 0 0;
  color: #333;
}

.caption {
  margin: 0.5em 0;
  color: #777;
  font-size: 1rem;
}
.opening {
  margin-bottom: 2rem;
}

.block1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #e25b5b;
}

.center {
  text-align: center;
  margin: auto;
}

img.center {
  display: block;
  text-align: center;
  margin: 1.2em auto;
  width: 70%;
}

img.caption {
}

button {
  height: 4rem;
  width: 100%;
  font-size: 2.1rem;
  border-radius: 0.9375rem;
  border: 3px solid #e25b5b;
  background-color: #fff5fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: #e25b5b;
  text-align: center;
  font-family: "Work Sans";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.825rem;
  text-decoration: none;
}

button:hover {
  rotate: -8deg;
}

.menu {
  margin-top: 4.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu-lines {
  max-width: 3rem;
}

.block {
  display: block;
}

.proj-container {
  margin-bottom: 60px;
}

.proj-name-container {
  border-radius: 15px;
  color: #334f49;
  background: #74a49a;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding: 8px;
}

.proj-description {
  flex: 3;
  text-align: justify;
}
.thumb-img-container {
  flex: 4;
}
.thumb-img-col {
  border-radius: 15px;
}

.item-container {
  max-width: 100%;
  object-fit: cover;
}

.proj-col-container {
  display: flex;
  flex-wrap: wrap; /* Ensures items wrap on smaller screens */
  gap: 40px; /* Adds space between items */
  /* flex-direction: column; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  h1.page {
    font-size: 2.5rem;
  }
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.1rem;
  }
  .menu-lines {
    max-width: 2.5rem;
    padding-top: 0.2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  button {
    height: 2.5rem;
  }
  h1 {
    font-size: 3.1rem;
  }
  .menu-lines {
    max-width: 3.3rem;
    padding-top: 0.3rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  button {
    font-size: 1.3rem;
    line-height: 1.525rem;
  }
  button {
    height: 3rem;
  }
  .container {
    flex-direction: column;
  }
  .content {
    width: 100%;
    margin-top: 0rem;
  }
  .sidebar {
    width: 100%;
    background-color: #fff5fc;
    top: 0rem;
    align-items: center;
    display: flex;
  }
  h1 {
    font-size: 2.3rem;
    /* text-align: center; */
    flex-grow: 1;
  }
  .menu {
    margin-top: 2rem;
  }

  .limit {
    display: none;
    opacity: 70%;
    text-align: left;
  }
  .menu-lines {
    margin-left: auto;
    max-width: 2.5rem;
    padding-top: 0.3rem;
  }
  .header {
    padding-top: 1rem;
    flex-grow: 1;
    align-items: center;
    display: flex;
  }
  .thumb-img.other {
    width: 80%;
    margin: 10%;
  }
  .proj-col-container {
    flex-direction: column;
    gap: 12px;
  }
  .proj-description-p {
    margin: 0 2px;
  }
}

/* Large devices (laptops/desktops, 996px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.08rem;
  }
  .limit {
    max-width: 13rem;
  }

  button {
    font-size: 1.1rem;
    line-height: 1rem;
  }

  .menu-lines {
    display: none;
  }
  .proj {
    margin-bottom: 3rem;
  }
  .sidebar {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

/* Large devices (laptops/desktops, 996px and up) */
@media only screen and (min-width: 996px) {
  h1 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 1.25rem;
  }
  .limit {
    max-width: 13rem;
  }
  button,
  a {
    font-size: 1.1rem;
  }
  .menu-lines {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.45rem;
  }
  .limit {
    max-width: 15rem;
  }

  button {
    font-size: 1.5rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 3.7rem;
  }

  h3 {
    font-size: 1.75rem;
  }
  .limit {
    max-width: 18rem;
  }
}
